/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform
/infrastructure/terraform.tfstate*
/infrastructure/certs/*.crt
/infrastructure/certs/*.key
/infrastructure/certs/*.pem
/infrastructure/certs/*.csr
